@import './mixin.scss';
@import './variables.scss';

body {
  color: $primary-color--text;
}

// Transition
.page-enter-active,
.page-leave-active {
  transition-property: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
.v-application,
.v-list {
  background: unset !important;
}

// Common
.background {
  &--gradient::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    height: 100vh;

    @include background-gradient(
      linear,
      left top,
      right bottom,
      from(#6d327c),
      color-stop(#485da6),
      color-stop(#00a1ba),
      color-stop(#01b18e),
      to(#32b37b)
    );

    @include background-linear-gradient(
      to right bottom,
      #6d327c,
      #485da6,
      #00a1ba,
      #01b18e,
      #32b37b
    );
  }
}

.app-border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.rounded-15 {
  @include border-radius(15px !important);
}

// Home page
.home-page {
  .pagination {
    margin: 30px 0 40px;
  }
}

// App Header
.app-header {
  &__border {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

// App Footer
.app-footer {
  padding-bottom: 60px;
  &__recent-posts {
    .v-list-item {
      *,
      .v-list-item__subtitle {
        color: white;
      }

      &__title {
        white-space: unset;
      }

      &:hover::before {
        opacity: 0 !important;
      }

      &:hover .v-list-item__title {
        color: $primary-color--light;
      }
    }
  }

  &__about-me {
    *,
    .v-list-item__subtitle {
      color: white;
    }

    .v-avatar {
      :hover {
        @include transform(translateY(-3px));
        @include transition(all ease 0.5s);
      }
    }
    .v-image {
      @include transition(all ease 0.5s);
      border: 4px solid $secondary-color;
    }
    .v-list-item {
      &:hover::before {
        opacity: 0 !important;
      }

      &__subtitle {
        color: #bfeae6 !important;
      }
    }

    &__associate {
      flex: unset !important;
      background-color: $secondary-color--light;
      padding: 5px 25px;
      @include border-radius(25px);
      @include box-shadow(
        0 3px 12px -1px rgba(7, 10, 25, 0.05),
        0 22px 27px -20px rgba(7, 10, 25, 0.05)
      );

      .v-icon:hover {
        @include transform(translateY(-3px));
        @include transition(all ease 0.5s);
      }
    }
  }
}

// Article Page
.article-page {
  &__content-wrapper {
    @include border-radius(15px);
    background-color: white;
    font-size: 18px;
    color: $primary-color--text;
    line-height: 30px;
    p {
      margin-bottom: 24px;
    }

    .text-field-copy-link {
      .v-text-field__slot {
        input {
          color: #666666 !important;
        }
      }

      .v-icon {
        color: $primary-color;
        font-size: 17px;
      }
    }
  }
}
